<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="com.mauriciotogneri.shoppinglist"
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:name=".app.ShoppingList"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/application.name"
        android:theme="@style/app.theme"
        tools:replace="android:allowBackup">

        <activity
            android:name=".activities.CartActivity"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

        </activity>

        <activity
            android:name=".activities.AddProductActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activities.CreateProductActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activities.ManageCategoriesActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activities.SearchImageActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible"/>

        <!--<service
            android:name=".services.WearableService">

            <intent-filter>
                <action android:name="com.google.android.gms.wearable.DATA_CHANGED"/>
                <action android:name="com.google.android.gms.wearable.MESSAGE_RECEIVED"/>

                <data
                    android:host="*"
                    android:scheme="wear"/>
            </intent-filter>

        </service>-->

        <meta-data
            android:name="DATABASE"
            android:value="shoppinglist.db"/>
        <meta-data
            android:name="VERSION"
            android:value="1"/>
        <meta-data
            android:name="QUERY_LOG"
            android:value="false"/>
        <meta-data
            android:name="DOMAIN_PACKAGE_NAME"
            android:value="com.mauriciotogneri.shoppinglist"/>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="8cffce1302373dfaa1df9a1eaa9097d3bf4520fc"/>

    </application>

</manifest>