<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="com.mauriciotogneri.shoppinglist"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-feature
        android:name="android.hardware.type.watch"/>

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/application.name"
        android:theme="@android:style/Theme.DeviceDefault">

    </application>

</manifest>